# Build results
bin/
obj/
[Dd]ebug/
[Rr]elease/
x64/
x86/

# Visual Studio cache/options
.vs/
*.user
*.userosscache
*.suo

# Rider / VS Code
.idea/
.vscode/

# NuGet
*.nupkg
**/packages/*
!**/packages/build/

# OS files
.DS_Store
Thumbs.db
